<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <timestamp key="bySecond" datePattern="yyyyMMddHH" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <appender name="tz-storm" class="ch.qos.logback.core.FileAppender">
    <file>data/tz-storm.log</file>
    <append>false</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="tz-storm2" class="ch.qos.logback.core.FileAppender">
    <file>data/tz-storm2.log</file>
    <append>false</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="tz-storm3" class="ch.qos.logback.core.FileAppender">
    <file>data/tz-storm3.log</file>
    <append>false</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="tz-storm4" class="ch.qos.logback.core.FileAppender">
    <file>data/tz-storm4.log</file>
    <append>false</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="tz-storm5" class="ch.qos.logback.core.FileAppender">
  <file>data/tz-storm5.log</file>
  <append>false</append>
  <encoder>
    <pattern>%msg%n</pattern>
  </encoder>
</appender>

  <appender name="tz-storm6" class="ch.qos.logback.core.FileAppender">
    <file>data/tz-storm6.log</file>
    <append>true</append>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="example.tzstorm" level="ERROR" additivity="false">
    <appender-ref ref="tz-storm" />
  </logger>

  <logger name="example2.tzstorm" level="ERROR" additivity="false">
    <appender-ref ref="tz-storm2" />
  </logger>

  <logger name="example3.tzstorm" level="ERROR" additivity="false">
    <appender-ref ref="tz-storm3" />
  </logger>

  <logger name="example6.tzstorm.spout" level="ERROR" additivity="false">
    <appender-ref ref="tz-storm4" />
  </logger>

  <logger name="example6.tzstorm.bolt.TestBolt6" level="INFO" additivity="false">
    <appender-ref ref="tz-storm5" />
  </logger>

  <logger name="example6.tzstorm.bolt.EsperFunc" level="ERROR" additivity="false">
    <appender-ref ref="tz-storm6" />
  </logger>

  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>