<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<timestamp key="bySecond" datePattern="yyyyMMddHH" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%message%n%xException{5}</pattern>
		</encoder>
	</appender>

	<appender name="tzstorm" class="ch.qos.logback.core.FileAppender">
		<file>data/tzstorm.log</file>
		<append>false</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="tzstorm2" class="ch.qos.logback.core.FileAppender">
		<file>data/tzstorm2.log</file>
		<append>false</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="example.tzstorm" level="ERROR" additivity="false">
		<appender-ref ref="tzstorm" />
	</logger>

	<logger name="example2.tzstorm" level="ERROR" additivity="false">
		<appender-ref ref="tzstorm2" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>